* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 15px;
    font-style: normal;
    width: 541px;
    position: absolute;
    top: 70px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-image: url(images/icon-moon.svg);
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

form {
    width: 541px;
    height: 64px;
    position: absolute;
    top: 158px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid #E3E4F1;
    background:white;
    border-radius: 5px;
}

.todo-input {
    position: absolute;
    right: 312px;
    left: 72px;
    top: 23px;
    bottom: 23px;
    border: none;
    outline: none;
    color: #9495A5;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: -0.25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.todo-button {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    left: 24px;
    top: 20px;
    bottom: 20px;
    right: 492px;
    border: none;
    border: 1px solid #E3E4F1;
    background : white;
    cursor: pointer;
}

.todo-container {
    width: 540px;
    height: 439px;
    position: absolute;
    top: 246px;
    bottom: 115px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;
    border: 1px solid #E3E4F1;
}

footer p {
    width: 179px;
    height: 14px;
    position : absolute;
    bottom : 52px;
    top: 734px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px; 
    text-align: center;
    letter-spacing: -0.194444px;
    color: #9495A5;
}    
